.bg {
  height: 100vh;
  
  background-position: center;
  background-repeat: no-repeat;
  
  background-color: #d7bbbe;

  
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-img {
}

.unset-img {
  width: 100%;
}
.unset-img > div {
  position: unset !important;
}
@media(max-aspect-ratio: 16/9){
  .container {
    margin-left: -75%; /*do negative margin*/
    margin-right: -75%;
  }
}
@media(min-aspect-ratio: 16/9){
  .container {
    margin-top: 10%;
    margin-bottom: 10%;
  }
}


.container > span{
}